<div class="bg-gray-100 min-h-screen max-w-full">
  <h1 class="text-4xl text-black text-center font-bold p-2">Fix my English 🇬🇧</h1>
  <main class="flex flex-col max-w-2xl mx-auto">
    
    <div class="flex flex-col gap-2 items-center text-center self-center w-full">
      <textarea
        class="bottom-5 border-2 border-gray-300 min-h-[300px] bg-gray-50 shadow-lg text-black outline-none w-full py-3 px-5 rounded-xl text-lg"
        placeholder="My friend have a car" (input)="onPhraseChange($event)"></textarea>

      <button
        class="bg-green-700 flex text-black outline-none py-3 items-center px-5 rounded-lg text-lg shadow-md hover:bg-green-600 transition-all duration-200 ease-in-out"
        [disabled]="loading"

        (click)="onSubmit()">
        Fix it ✔️
      </button>

      <!-- show the fixed phrase -->
      <p *ngIf="fixedPhrase !== undefined" class="text-2xl text-center font-semibold pt-2">Fixed phrase: <span class="text-green-700">
        <app-typing-effect [text]="fixedPhrase"></app-typing-effect>
      </span></p>
    </div>
    <p *ngIf="isTooShort || phrase === undefined" class="text-red-900 font-semibold text-2xl text-center pt-2">You are not using English or the phrase is too short!</p>
  </main>


</div>